@font-face {
  font-family: 'Comic Sans MS';
  src: url('./fonts/comic-sans-ms.ttf');
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('./fonts/snell-roundhand.otf');
}

body {
  font: 14px/1.5 'Comic Sans MS', 'Comic Sans', cursive;
  background-image: url('./images/background.jpeg');
  background-repeat: repeat;
}

h1 {
  font-family: 'Snell Roundhand', cursive;
  font-size: 250%;
  text-align: center;
  color: aliceblue;
  text-shadow: 4px 4px 4px #000000;
}

.header {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.back {
  width: 100%;
  padding-right: 25px;
  text-align: right;
  font-size: 90%;
}

.nav {
  padding: 20px;
}

.nav table {
  width: 100%;
  border: none;
}

.nav table td {
  padding: 10px;
  border: 1px solid #000000;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.fishes {
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.fishes table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
