body {
  font: 14px/1.5 'Comic Sans MS', 'Comic Sans', cursive;
  src: url('./fonts/comic-sans-ms.ttf');
  background-image: url('./images/background.jpeg');
  background-repeat: repeat;
}

h1 {
  font-family: 'Snell Roundhand', cursive;
  src: url('./fonts/snell-roundhand.otf');
  font-size: 250%;
  text-align: center;
  color: aliceblue;
  text-shadow: 4px 4px 4px #000000;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

.center {
  padding: 20px;
  text-align: center;
}
.header {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.back {
  width: 100%;
  padding-right: 25px;
  text-align: right;
  font-size: 90%;
}

.fish {
  width: 100%;
  padding: 20px;
  overflow: scroll;
}