body {
  font: 14px/1.5 'Comic Sans MS', 'Comic Sans', cursive;
}

h1 {
  font-family: 'Snell Roundhand', cursive;
  src: url('./fonts/snell-roundhand.otf');
  font-size: 250%;
}

table, th, td {
  border: 1px solid;
}